openapi: 3.0.3
info:
  title: Gender Get Get Stats API
  description: Gender-API determines whether a first name is more likely used by males or females, with optional localization by country, IP address, or browser locale. The API returns a gender prediction and an accuracy score, and supports email parsing, multi-name lookup, and country-of-origin queries.
  version: '2.0'
  contact:
    name: Gender-API Support
    url: https://gender-api.com/en/contact
  license:
    name: Gender-API Terms of Service
    url: https://gender-api.com/en/terms-and-conditions
servers:
- url: https://gender-api.com
  description: Gender-API production endpoint
security:
- apiKey: []
tags:
- name: Get Stats
paths:
  /get-stats:
    get:
      summary: Get account statistics
      description: Returns account information including remaining credits, plan details, and usage statistics for the supplied API key.
      operationId: getStats
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
      tags:
      - Get Stats
components:
  schemas:
    StatsResponse:
      type: object
      properties:
        remaining_requests:
          type: integer
        is_limit_reached:
          type: boolean
        server_time:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
