openapi: 3.0.3
info:
  title: Gender Get Get Country Of Origin API
  description: Gender-API determines whether a first name is more likely used by males or females, with optional localization by country, IP address, or browser locale. The API returns a gender prediction and an accuracy score, and supports email parsing, multi-name lookup, and country-of-origin queries.
  version: '2.0'
  contact:
    name: Gender-API Support
    url: https://gender-api.com/en/contact
  license:
    name: Gender-API Terms of Service
    url: https://gender-api.com/en/terms-and-conditions
servers:
- url: https://gender-api.com
  description: Gender-API production endpoint
security:
- apiKey: []
tags:
- name: Get Country Of Origin
paths:
  /get-country-of-origin:
    get:
      summary: Get likely country of origin for a name
      description: Returns the most likely country (or list of countries) of origin for the supplied first or last name. Costs more credits per query than /get.
      operationId: getCountryOfOrigin
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Country of origin prediction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryOfOriginResponse'
      tags:
      - Get Country Of Origin
components:
  schemas:
    CountryOfOriginResponse:
      type: object
      properties:
        name:
          type: string
        country_of_origin:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              probability:
                type: number
        credits_used:
          type: integer
        duration:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
